<mat-toolbar color="primary">
  <button mat-icon-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: auto"></span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/profile">Profile</button>
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/loadStudents">Load Student</button>
    <button mat-menu-item routerLink="/loadPayments">Load Payment</button>
  </mat-menu>
  <button mat-raised-button color="accent" routerLink="/login">Logout</button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #myDrawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/students">
          <mat-icon>dashboard</mat-icon>
          Students
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/payments">
          <mat-icon>dashboard</mat-icon>
          Payments
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
